.container{
  max-width:600px;
  margin:auto;
  font-family:Arial;
}

h1{
  text-align:center;
}

.card{
  background:#f7f7f7;
  padding:20px;
  margin-bottom:20px;
  border-radius:8px;
}

input{
  padding:8px;
  width:70%;
  margin-right:10px;
}

button{
  padding:8px 12px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.btn-get{
  background:#2196f3;
  color:white;
}

.btn-add{
  background:#4caf50;
  color:white;
}

.btn-delete{
  background:#e53935;
  color:white;
  margin-left:10px;
}

li{
  margin:10px 0;
}